* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.hero {
    min-height: 100vh;
    background: url(food_back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.logo {
    color: #e78f38;
    font-size: 30px;
    font-weight: bolder;
    transition: 0.3s;
}

.logo:hover {
    transform: translateX(20px);
}

.contact_container {
    width: 420px;
    background: #f08922;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 11px;
    padding: 30px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #1E1D22;
}

.contact_container h2 {
    text-align: center;
    font-size: 36px;
    color: #fff;
}

.contact_container .input_box {
    width: 100%;
    height: 50px;
    background: #000000;
    margin: 15px 0;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

.contact_container input, .contact_container textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 2rem;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contact_container textarea {
    height: 100%; 
    border-radius: 2rem;
    font-size: 14px; 
    padding: 10px 20px; 
}

.contact_container input:focus, .contact_container textarea:focus {
    border-color: #f08922;
    box-shadow: 0 0 8px rgba(240, 137, 34, 0.8);
}

button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #d9771a;
    color: #fff;
    transform: scale(1.05);
}

/* Responsive design */
@media (max-width: 768px) {
    .contact_container {
        width: 90%;
        padding: 20px;
    }
}
